<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/index_style.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>

    <header>

      <div class="logo-div">
          <a href="/"><h1><span class="logo-detail">LockIF</span>Manager</h1></a>
      </div>
      
      <div class="search-div">
      </div>

      <div class="link-div">
        <a href="/users">Usuários</a>
        <a href="/projects">Projetos</a>
      </div>

    </header>

    <main>
      <div class="rec-menu">
        <div class="flex-col-1">
            <span><a href="#">Sample link 1</a></span>
            <span><a href="#">Sample link 2</a></span>
            <span><a href="#">Sample link 3</a></span>
            <span><a href="#">Sample link 4</a></span>
            <span><a href="#">Sample link 5</a></span>
        </div>

        <div class="flex-col-2">
          <img src="" />
        </div>
      </div>
    </main>

    <footer>
      <div class="footer">
        <h3>Feito
          por Vinicius e Emanuel em Dourados MS</h3>

        <h4>GEDAE - LockIFManager© 2019</h4>
      </div>
    </footer>

  </body>

</html>