<% layout('boilerplate') -%>
  <div class="cont-header">
    <h2>Pad Edit</h2>
  </div>
<div class="content">
    <form class="forms" action="./edit" method="post">
        <label for="name">Mac Adress</label>
        <input type="text" id="name" name="ipWemos" value="<%= pad.IP %>" disabled/>
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="10"><%= pad.description %></textarea>
        <label for="name">IP Wemos</label>
        <% if (pad.wemos != ){ %>

        <%} %>
        <input type="text">
        <div class="btn-area">
          <button class="add-btn">Editar Wemos</button>
        </div>
    </form>
</div>