<% layout('boilerplate') -%>
<div class="main">
  <div class="main">
    <div class="cont-header">
      <span class="title">Adicionar Usuário</span>
      <span class="routes">home>pad>add</span>
    </div>
<div class="content">
    <div class="main-forms">
        <form class="forms" action="/pad/add/ " method="post">
            <label for="name">Nome:</label>
            <input id="name" type="text" name="name" value="" required/>
            <label for="macadress">Mac Adress Pad</label>
            <input id="macadress" type="text" name="macAdress" value="" required/>
          <div class="btn-area">
            <button class="add-btn">Adicionar Pad</button>
          </div>
        </form>
    </div>
</div>