<!DOCTYPE html>
<html>
  <head>
    <title>Adicionar Usuário</title>
    <link rel='stylesheet' href='/stylesheets/projects_style.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <meta charset="utf-8" />
  </head>
  <body>

    <header>

      <div class="navContainer">
        <nav class="headerNav">
          <img src="" alt=""/>
          <ul class="nav_bar">

            <div class="logo">
              <h1><a href="/"><span class="thinnerLogo">LockIF</span>Manager</a></h1>
            </div>

            <div class="home">
              <li class="nav_link"><a href="/">Home</a></li>
            </div>

            <div class="project">
              <li class="nav_link"><a>Projeto<a>
                <ul class="dropdown">
                  <li class="dropdown-item"><a href="/project/add">Adicionar projeto</a></li>
                  <li class="dropdown-item"><a href="/projects">Listar projetos</a></li>        
                </ul>
              </li>
            </div>

            <div class="user">
              <li class="nav_link"><a>Usuário </a>
                <ul class="dropdown">
                  <li class="dropdown-item"><a href="/user/add">Adicionar usuário</a></li>
                  <li class="dropdown-item"><a href="/users">Listar usuário</a></li>
                </ul>
              </li>
            </div>

          </ul>
        </nav>
      </div>

    </header>

    <main>
      <h2>Projetos cadastrados</h2>
      <div class="projectList">
          <% projects.forEach(function(project) { %>
          <div class="projectTable">

            <h3> <%= project.name %></h3>
            <h4>Descrição do projeto:</h4>
            <p><%= project.description %></p>
            <a class="description" href="/project/<%= project._id%>">Vizualizar o projeto</a>

          </div>
          <% }); %>
      </div>  
    </main>

    <footer>

      <div class="footer">
        <h3>Feito <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Love_Heart_SVG.svg/645px-Love_Heart_SVG.svg.png" height="16px" width="auto">  -->
          por Vinicius e Emanuel em Dourados MS</h3>
        <h4>GEDAE - LockIFManager© 2019</h4>
      </div>

    </footer>

  </body>
</html>