<!DOCTYPE html>
<html>
  <head>
    <title>Adicionar Usuário</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form class="" action="/project" method="post">
    <label for="">Nome do projeto</label>
    <input type="text" name="nome_projeto" value="" />
    <label for="">Data de criação</label>
    <input type="date" name="data_criacao" value="" />
    <label for="">Usuários</label>
    <input type="text" name="user_name" value="" /><button>+</button>
    <button >Adicionar Projeto</button>
  </form>
  </body>
</html>