<!DOCTYPE html>
<html>
  <head>
    <title>Adicionar Usuário</title>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
  </head>
  <body>

    <header>
      <div class="logo">
        <a href="/"><h1>LockIF<span class="logo-detail">Manager</span></h1></a>
      </div>
      
      <div class="user">
        <div class="link-area-header">
          <div class="access-btn-header">
            <a href="/">Acessar</a>
          </div>
          <div class="green-bar-header"></div>
        </div>

        <div class="link-area-header">
          <div class="access-btn-header">
            <a href="/">Cadastrar-se</a>
          </div>
          <div class="green-bar-header"></div>
        </div>
      </div>
    </header>

    <main>
      <div class="menu">
        <h2></h2>

        <div class="links">

          <div class="link-area">
            <div class="access-header">
              <img src="/img/project.png" alt="" width="24px" height="auto"/>
              <h2>Projetos</h2> 
            </div>
          </div>

          <a href="/projects">
            <div class="link-area">
              <div class="access-btn">
                <img src="/img/project.png" alt="" width="20px" height="auto"/>
                <p>Listar projetos</p> 
              </div>
              <div class="green-bar"></div>
            </div>
          </a>

          <a href="/project/add">
            <div class="link-area">
              <div class="access-btn">
                <img src="/img/add_project.png" alt="" width="20px" height="auto"/>
                <p>Adicionar Projetos</p> 
              </div>
              <div class="green-bar"></div>
            </div>
          </a>

          <div class="link-area">
              <div class="access-header">
                <img src="/img/user.png" alt="" width="24px" height="auto"/>
                <h2>Usuários</h2> 
              </div>
            </div>
              
          <a href="/users">
            <div class="link-area">
              <div class="access-btn">
                <img src="/img/user.png" alt="" width="20px" height="auto"/>
                <p>Usuários</p> 
              </div>
              <div class="green-bar"></div>
            </div>
          </a>

          <a href="/user/add">
            <div class="link-area">
              <div class="access-btn">
                <img src="/img/add_user.png" alt="" width="20px" height="auto"/>
                <p>Adicionar Usuários</p> 
              </div>
              <div class="green-bar"></div>
            </div>
          </a>
        </div>
        <div class="footer"> 
          <h4>Feito por Vinicius e Emanuel em Dourados MS</h4>
          <h3>GEDAE - LockIFManeger© 2019</h3>
        </div>
      </div>

        <div class="main">
          <div class="cont-header">
            <span class="title">Projetos</span>
            <span class="routes">home>projects>add</span>
          </div>

          <div class="content">

            <form class="forms" action="" method="post">
              <label for="">Nome do projeto</label>
              <input type="text" name="name" value="">
              <label for="">Descrição</label>
              <textarea name="description" id="" cols="30" rows="5"></textarea>
              <label for="">Coordenador</label>
              <select name="coordinator" id="coordinator">
                  <option value=""></option>
                  <% user.forEach(function(u){ %>
                    <option value="<%= u._id%>"><%= u.name%></option>
                  <%});%>
                </select>
              <label for="">Participante(s)</label>
                  
              <div id="divParticipants">
                <select id="participantsChoice" name="" >
                  <option value=""></option>
                  <% user.forEach(function(u){ %>
                    <option value="<%= u._id%>"><%= u.name%></option>
                  <%});%>
                </select>
                <button id="add">+</button>
                  <input type="hidden" name="participants" id="participants" value="[]">
              </div>   
              <div class="btn-area">
                <button class="add-btn">Adicionar projeto</button>
              </div>
            </form>          
            <div id="addedParcipants"></div>

          </div>
        </div>
      </div>    
    </main>
  </body>

  <script type='application/javascript'>
    const button = document.getElementById('add');
    var logica = true;
    button.addEventListener('click', function(e){
      e.preventDefault();
      var idUserSelected = document.getElementById('participantsChoice').value;
      var participants = JSON.parse(document.getElementById('participants').value);
      if(idUserSelected == ""){
        return
      }
    
      for(let i = 0;i < participants.length;i++){
        if(idUserSelected == participants[i]){
          logica = false;
        }
      }
      if(logica && document.getElementById('coordinator').value != idUserSelected){
        participants.push(idUserSelected);
        document.getElementById('participants').value = JSON.stringify(participants);
        var p = document.createElement('p');
        var userSelected = document.getElementById('participantsChoice').selectedOptions[0].innerHTML;
        p.innerHTML = userSelected;
        p.id = idUserSelected
        var a = document.createElement('a');
        a.id = idUserSelected;
        a.innerHTML = 'X'
        a.href = "#";
        a.onclick = removeTask;
        a.id = idUserSelected ;
        //var img = document.createElement('img');
        //img.src = '../public/img/trash.png';
        //img.alt = "Remover usuário";
        //a.appendChild(img)
        var divHTML = document.getElementById('addedParcipants');
        var div = document.createElement('div');
        div.id = idUserSelected;
        div.appendChild(p);
        div.appendChild(a);
        divHTML.appendChild(div);
        logica = true;
      }else {
        return logica = true
      }
    });

    function removeTask (event) {
      let participants = JSON.parse(document.getElementById('participants').value);
      var positionUser;
      var divChildren = document.getElementById('addedParcipants').children;
      var userId = event.target.id;
      console.log(userId);
      for(let i = 0;i < divChildren.length;i++ ){
        if(userId == divChildren[i].id){
          participants.splice(i,1);
          document.getElementById(`${userId}`).remove();
        }
      }
      document.getElementById('participants').value = JSON.stringify(participants);
      console.log(participants);
      for(let i = 0;i < participants.length;i++){
        if(userId == participants[i]){
          positionUser = [i];
        }
      }
      
    }

  </script>
</html>