<!DOCTYPE html>
<html>
  <head>
    <title>Adicionar Usuário</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form class="" action="" method="post">
    <label for="">Nome do projeto</label>
    <input type="text" name="name" value="" />
    <label for="">Description</label>
    <textarea name="description" id="" cols="30" rows="10"></textarea>
    <button>Adicionar Projeto</button>
  </form>
  </body>
</html>