<!DOCTYPE html>
<html>
  <head>
    <title>Adicionar Usuário</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form class="" action="/user/add" method="post">
    <label for="">Nome Completo</label>
    <input type="text" name="name" value="" />
    <label for="">CPF</label>
    <input type="text" name="cpf" value="" />
    <label for="">Data de nascimento</label>
    <input type="date" name="birth_date" value="" />
    <button >Adicionar Usuario</button>
  </form>
  </body>
</html>