<% layout('boilerplate') -%>
<div class="main">
  <div class="main">
    <div class="cont-header">
      <span class="title">Adicionar Usuário</span>
      <span class="routes">home>user>add</span>
    </div>
<div class="content">
    <div class="main-forms">
        <form class="forms" action="/user/add" method="post">
          <label for="name">Nome Completo</label>
          <input id="name" type="text" name="name" value="" required/>
          <label for="cpf">CPF</label>
          <input id="cpf" type="number" name="cpf" value="" maxlength="11" required/>
          <label for="birth_date">Data de nascimento</label>
          <input id="birth_date" type="date" name="birth_date" required/>
          <% if(error != null) { %>
              <h1><%= error %></h1>
          <%}%> 
          <div class="btn-area">
            <button class="add-btn">Adicionar usuário</button>
          </div>
        </form>
    </div>
</div>
