<!DOCTYPE html>
<html>
  <head>
    <title>Teste</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% users.forEach(function(user){ %>
      <p>Welcome to <%= user.name %></p>
    <% }) %>
  </body>
</html>
