<!DOCTYPE html>
<html>
  <head>
    <title>Adicionar Wemos</title>
    <link rel='stylesheet' href='/stylesheets/projects_style.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>

      <div class="navContainer">
        <nav class="headerNav">
          <img src="" alt=""/>
          <ul class="nav_bar">

            <div class="logo">
              <h1><a href="/"><span class="thinnerLogo">LockIF</span>Manager</a></h1>
            </div>x

            <div class="home">
              <li class="nav_link"><a href="/">Home</a></li>
            </div>

            <div class="project">
              <li class="nav_link"><a>Projeto<a>
                <ul class="dropdown">
                  <li class="dropdown-item"><a href="/project/add">Adicionar projeto</a></li>
                  <li class="dropdown-item"><a href="/projects">Listar projetos</a></li>        
                </ul>
              </li>
            </div>
            
            <div class="user">
              <li class="nav_link"><a>Usuário </a>
                <ul class="dropdown">
                  <li class="dropdown-item"><a href="/user/add">Adicionar usuário</a></li>
                  <li class="dropdown-item"><a href="/users">Listar usuário</a></li>
                </ul>
              </li>
            </div>

            <div class="wemos">
              <li class="nav_link"><a>Wemos<a>
                <ul class="dropdown">
                  <li class="dropdown-item"><a href="/wemos/add">Adicionar Wemos</a></li>
                  <li class="dropdown-item"><a href="/wemos">Listar Wemos</a></li>        
                </ul>
              </li>
            </div>
          </ul>
        </nav>
      </div>

    </header>
    <div class="mainForms">
        <form class="forms" action="/wemos/add/ " method="post">
            <label for="name">IP: Wemos</label>
            <input id="name" type="text" name="ipWemos" value="" required/>
            <label for="birth_date">Descrição do Wemos e local</label>
            <textarea name="description" id="" cols="30" rows="10"></textarea>

          <button class="addButton">Adicionar Wemos</button>
        </form>
    </div>

    <footer>

        <div class="footer">
          <h3>Feito <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Love_Heart_SVG.svg/645px-Love_Heart_SVG.svg.png" height="16px" width="auto">  -->
            por Vinicius e Emanuel em Dourados MS</h3>
          <h4>GEDAE - LockIFManager© 2019</h4>
        </div>
  
      </footer>
    
  </body>
</html>