<% layout('boilerplate') -%>
    <div class="main">
      <div class="cont-header">
        <h2>Wemos Add</h2>
      </div>
      <div class="content">
        <form class="forms" action="/wemos/add/ " method="post">
            <label for="name">IP: Wemos</label>
            <input id="name" type="text" name="ipWemos" value="" required/>
            <label for="birth_date">Descrição do Wemos e local</label>
            <textarea name="description" id="" cols="30" rows="10"></textarea>
          <div class="btn-area">
            <button class="add-btn">Adicionar Wemos</button>
          </div>
        </form>
      </div>
    </div>