@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

*{
  font-family: 'Lato', sans-serif;

  padding: 0px;
  margin: 0px;

  text-decoration: none;
  outline: none;
}

header {
  display: flex;
  
  align-items: center;

  width: 100%;
  height: 64px;

  background: linear-gradient(60deg, rgb(92, 63, 160), rgb(67, 87, 201));
}

header h1 {
  color: rgb(250, 250, 250);
} 

.logo-detail {
  font-weight: 300;
}

.link-div,
.logo-div {
  display: flex;

  flex: 3;

  justify-content: center;
}

.search-div {
  display: flex;

  flex: 6;

  justify-content: center;
}

.search-div input {
  width: 80%;
  height: 40px;
  border-radius: 0.5rem;

  transition: 0.2s;

  border: none;

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.search-div input:hover {
  transform: scale(1.005);

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.search-div input:focus {
  transform: scale(1.005);

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.link-div a {
  transition: 0.2s;

  color: rgb(228, 228, 228);
}

.link-div a:hover {
  color: rgb(255, 255, 255);

  transform: scale(1.05); 
}

.link-div a:first-child {
  margin-right: 8%;
}

.link-div a:last-child {
  margin-left: 8%;
}

.dropdown-icon {
  height: 8px;
  width: auto;

  margin-left: 8%;
}

main {
  width: 100%;
  min-height: 90vh;

  position: relative;
}

.rec-menu {
  width: 15rem;
  height: 100vh;

  position: fixed;
  right:  99%;

  background-color: rgb(36, 36, 36);

  display: flex;
  flex-direction: column;

  padding: 2rem;
}

.rec-menu a {
  color: rgb(228, 228, 228);
  font-weight: 300;

  margin: 1rem 0px 
}

.rec-menu a:hover {
  text-decoration: underline;
}