<% layout('boilerplate') -%>
<div class="main">
  <div class="cont-header">
    <h1 class="title">Bem-Vindo ao LockIFManager</h1>
  </div>
    <div class="content">
      <h2>Website para o gerenciamento dos usuários, projetos, wemos e pads.</h2>
  </div>
</div>
