<% layout('boilerplate') -%>
<div class="main">
<div class="cont-header">
  <h1 class="title">Bem-Vindo ao LockIFManager</h1>
  <div class="">
    <% if(message){ %>
        <p><%= message %></p>
    <% } %>
  </div>
</div>
  <div class="content">
      <form action="/login" method="POST">
        <label for="username">Usuário: </label>
        <input type="text" name="username" required/>
        <label for="password">Senha: </label>
        <input type="password" name="password" required/>
        <div class="btn-area">
            <button class="add-btn">Logar</button>
        </div> 
      </form>
  </div>
</div>
