<% layout('boilerplate') -%>
<div class="main">
    <div>
        <h1><%= pad.name %></h1>
    </div>
    <div>
        <a href="<%= pad._id%>/edit">Editar Pad</a>
        <a href="/delete">Remover Pad</a>
    </div>
</div>