<% layout('boilerplate') -%>

<div class="main">
    <div class="cont-header">
        <span class="title">Projetos</span>
        <span class="routes">home>projects</span>
    </div>

    <div class="content">
        <h2>Projetos cadastrados</h2>
        <div class="user-list">
            <% projects.forEach(function(project) { %>
            <div class="user-table">
                <h3><%= project.name %></h3>
                <p><%= project.description %></p>
                <a class="description" href="/project/<%= project._id%>">Ver mais</a>
            </div>
            <% }); %>
        </div>
    </div>
</div>
