@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
  margin: 0px;
  padding: 0px;

  outline: none;

  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: rgb(243, 245, 255);
}

a {
  color: rgb(239, 239, 239);
}

h2 {
  color: rgb(52, 52, 72);
}

h3:first-child {
  margin-top: 0px;
}

h3 {
  margin-top: 1rem;
}

main {
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: row;
}

.menu {
  width: 100%;
  height: 100vh;


  flex: 3;
  display: flex;
  flex-direction: column;

  background-color: rgb(52, 52, 72);
}

.access-btn p {
  margin-left: 4px;
}

.access-btn img {
  margin-left: 1rem;
}

.main {
  width: 100%;
  height: 100%;

  flex: 9;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-area {
  width: 100%;
  height: 48px;

  display: flex;
  flex-direction: row;
}

.link-area:hover .access-btn {
  background-color: rgb(44, 44, 63);
  cursor: pointer;
}

.link-area:hover .green-bar {
  background-color: rgb(64, 187, 82);
  cursor: pointer;
}

.access-btn {
  width: 98%;
  height: 48px;

  display: flex;
  align-items: center;
}

.green-bar {
  width: 2%;
  height: 48px;
}

.content {
  background-color: rgb(252, 252, 252);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.27);

  padding: 1rem;

  border-radius: 4px;
  
  width: 80%;
  height: 100%;
}

.cont-header {
  width: 80%;
  height: 100%;
  
  padding: 1rem;

  display: flex;
}

.content h2 {
  font-size: 22px;

  margin-bottom: 1rem;
}

.title {
  font-size: 24px;
  font-weight: bold;

  flex: 8;
}

.routes {
  color: rgb(158, 158, 158);
}

.description {
  color: rgb(41, 169, 185);
}

.description:hover {
  color: rgb(24, 124, 138);
  text-decoration: underline;
}

.user-table {
  margin-bottom: 4px;
  padding: 4px;
}

.user-table:hover {
  background-color: rgb(238, 238, 238);
}

.links {
  flex: 10;
}

.forms {
  display: flex;
  flex-direction: column;
}

.btn-area {
  margin-top: 1rem;

  display: flex;

  justify-content: center;
}

.add-btn {
  width: 40%;
  height: 32px;

  border: none;
  border-radius: 3px;

  font-size: 14px;
  color: rgb(252, 252, 252);

  background-color: rgb(29, 123, 230);

  cursor: pointer;
}

.add-btn:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.397);
  background-color: rgb(29, 112, 207);
}

form input {
  width: 100%;
  height: 24px;

  padding: 1px;

  font-size: 14px;

  border: none;
  border-radius: 3px;

  background-color: rgb(243, 243, 243);  

  transition: 0.2s;
}

form input:focus {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.397);
}

.access-header {
  width: 100%;
  height: 48px;

  display: flex;
  align-items: center;

  color: rgb(239, 239, 239);

  background-color: rgb(54, 54, 80);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.158);
}

.access-header img {
  margin-left: 1rem;
}

.access-header h2 {
  margin-left: 20px;

  font-size: 20px;
  font-weight: 300;
  color: rgb(239, 239, 239);
}

.forms label {
  color: rgb(44, 44, 44);
}

.title{
  font-size: 32px;
  font-weight: 300;
  color: black;
}